@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  color: $brand-black;
  align-items: center;
  box-shadow: 0 2px 5px 0 $brand-black;
  border-bottom-style: ridge;
  border-bottom-width: 3px;
  border-bottom-color: $brand-grey;
  min-height: 45px;
}
