@import '../../styles/colors.scss';

.toolbar {
  display: flex;
  z-index: 999;
  background-color: $brand-grey;
  box-shadow: 0px 0px 3px $brand-black;

  &__minimized {
    display: none;
  }

  &__collapsed {
    min-height: 50px;
  }

  &__expanded {
    min-height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
