// import palette
@import "./palettes/codesigned.scss";

// test result colors
$green: #49cc90; // passing
$lightGreen: rgba(73,204,144,.5);
$red: #f098a8; // fail
$lightRed: rgba(240, 152, 168, .5);
$purple: #9767bb; // known failure
$lightPurple: rgba(236, 135, 238, 0.5);
$blue: #61affe; // unexpected pass
$lightBlue: rgba(97,175,254,.5);
