@import './palettes/codesigned.scss';
@import "./fonts.scss";

html, body{
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: $small;
  overflow: hidden;
  user-select: none;
  height: 100%;
}

body{
  background-color: $brand-grey;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

::-webkit-scrollbar {
  display: None;
}

.root {
  display: flex;
  flex-direction: column;
}
