@import '../styles/colors.scss';

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content;
    height: 100%;
  }

  &__header {

  }

  &__directory {

  }

  &__main {

  }

  &__panel {
    background-color: white;
    border-width: 1px;
    border-style: ridge;
    border-color: $brand-black;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 $brand-black;
    margin: 5px;
  }
}
